*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
    /* border: 3px solid red; */
    
   
}
.todo-app{
    /* border: 2px solid black; */
   max-width: 540px;
   background-color: #fff;
   margin: 100px auto 70px;
   padding: 40px 30px 70px;
   border-radius: 10px;
 
   /* border: 4px solid yellow; */
}
.todo-app >h2{
    /* border: 2px solid black; */
    color:#002765 ;
    display: flex;
   
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 15px;
}
.todo-app >h2>img{
    width: 35px;
   
}
.row{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row>input{
    /*when you see something like flex: 1;, it is shorthand for flex: 1 1 0%;. This means the flex item will grow and shrink equally, and its initial size will be 0% of the container's size.
    
    
    This will make the flex item flexible, allowing it to grow and shrink equally based on the available space in the flex container.
    */
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    /*
Setting a background to transparent means that whatever is behind the element with the transparent background will be visible.*/
    background: transparent;
    font-size: 18px;
}

.row>button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    /*The user-select property specifies whether the text of an element can be selected */
    user-select: none;
    cursor: pointer;
    /* border: 2px solid yellow; */
    position: relative;
    /* border: 2px solid black; */
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    /* border: 2px solid red; */
  
    
}
ul .checked{
    text-decoration: line-through;
    color: #555;
   
}
ul .checked::before{
    background-image: url(./images/checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;

    text-align: center;
    color: #555;
    border-radius: 50%;
    
}
ul li span:hover{
   background-color:#edeef0 ; 
}

@media screen and (max-width:576px) {
    .todo-app{
        max-width: 100%;
    }

}